In [125]:
# import statements
import pandas as pd
import requests

In [126]:
metro_df = pd.read_csv("metro_data.csv")

In [127]:
# drop useless columns

cols_to_drop = ["Ridership year", "Tracks", "Train width", "Gauge", "Power supply", "Voltage", "Rubber-tyred", "Driverless", "Driverless since", "Platform screen doors", "Walk-through", "Remarks", "Avg. line length", "Stations per line", "Daily ridership", "Length per resident", "Usage", "Ridership per km", "Stations.1", "System", "#"]

metro_df.drop(cols_to_drop, axis=1, inplace=True)

In [128]:
metro_df

,City,Country,Continent,Opening,Network length (km),Stations,Lines,Avg. station distance (m),Annual ridership,Population,Fare (EUR),Aircon trains
0,Shanghai,China,Asia,10 Apr 1995,632.1 km,394,15,"1,668 m","2,276 million",15 million,0.34 EUR,yes
1,Beijing,China,Asia,1 Oct 1969,572.0 km,344,20,"1,765 m","2,460 million",11.1 million,0.15 EUR,yes
2,London,United Kingdom,Europe,10 Jan 1863,402.0 km,270,11,"1,552 m","1,171 million",8.57 million,2.75 EUR,"Circle, District, Hammersmith & City and Metro..."
3,Guangzhou,China,Asia,28 Jun 1999,386.0 km,229,13,"1,787 m","1,825 million",8.83 million,NaN,yes
4,New York,USA,America,27 Oct 1904,380.2 km,473,27,852 m,"1,655 million",19 million,1.53 EUR,yes
...,...,...,...,...,...,...,...,...,...,...,...,...
207,Ludwigshafen,Germany,Europe,29 May 1969,4.0 km,11,0,364 m,NaN,NaN,NaN,NaN
208,Perugia,Italy,Europe,29 Jan 2008,3.0 km,7,1,500 m,NaN,NaN,NaN,NaN
209,Newark,USA,America,26 May 1935,2.2 km,4,1,733 m,NaN,NaN,NaN,NaN
210,Rouen,France,Europe,17 Dec 1994,2.2 km,5,1,550 m,NaN,NaN,NaN,NaN
211,Haifa,Israel,Asia,1959,1.8 km,6,1,350 m,NaN,1.01 million,NaN,NaN

In [129]:
# Find any columns that have missing values

# Use the isna method to create a boolean mask
mask = metro_df.isna()

# Use the any method with axis=0 to find columns with missing values
cols_with_nans = mask.any(axis=0)

# Print the resulting boolean mask and column names
print("Columns with NaNs:")
print(cols_with_nans)

Columns with NaNs:
City                         False
Country                      False
Continent                    False
Opening                      False
Network length (km)          False
Stations                     False
Lines                        False
Avg. station distance (m)    False
Annual ridership              True
Population                    True
Fare (EUR)                    True
Aircon trains                 True
dtype: bool

In [130]:
# replace the NaNs only for aircon as that one is boolean

replacement_values = {
    "Aircon trains": 0
}

metro_df = metro_df.fillna(value=replacement_values)

# change any non false to true
metro_df.loc[metro_df["Aircon trains"] != 0, "Aircon trains"] = 1

In [131]:
metro_df.loc[:, "Aircon trains"]

0      1
1      1
2      1
3      1
4      1
      ..
207    0
208    0
209    0
210    0
211    0
Name: Aircon trains, Length: 212, dtype: object

In [132]:
type(metro_df.loc[:, "Aircon trains"][0])

int

In [133]:
# now drop and rows where there is missing data

metro_df = metro_df.dropna(axis=0)

In [134]:
metro_df

,City,Country,Continent,Opening,Network length (km),Stations,Lines,Avg. station distance (m),Annual ridership,Population,Fare (EUR),Aircon trains
0,Shanghai,China,Asia,10 Apr 1995,632.1 km,394,15,"1,668 m","2,276 million",15 million,0.34 EUR,1
1,Beijing,China,Asia,1 Oct 1969,572.0 km,344,20,"1,765 m","2,460 million",11.1 million,0.15 EUR,1
2,London,United Kingdom,Europe,10 Jan 1863,402.0 km,270,11,"1,552 m","1,171 million",8.57 million,2.75 EUR,1
4,New York,USA,America,27 Oct 1904,380.2 km,473,27,852 m,"1,655 million",19 million,1.53 EUR,1
5,Moscow,Russia,Europe,15 May 1935,346.2 km,206,12,"1,785 m","2,389 million",10.5 million,0.50 EUR,1
6,Seoul,South Korea,Asia,15 Aug 1974,326.5 km,302,9,"1,114 m","2,518 million",9.8 million,0.54 EUR,1
7,Tokyo,Japan,Asia,30 Dec 1927,304.5 km,290,13,"1,099 m","3,102 million",35.7 million,1.57 EUR,1
8,Madrid,Spain,Europe,17 Oct 1919,293.0 km,289,13,"1,062 m",635 million,5.57 million,1.00 EUR,1
12,Delhi,India,Asia,24 Dec 2002,239.0 km,183,8,"1,366 m",606 million,15.9 million,0.12 EUR,1
13,Paris,France,Europe,19 Jul 1900,219.9 km,383,16,599 m,"1,524 million",9.9 million,1.57 EUR,1
15,Mexico City,Mexico,America,5 Sep 1969,201.1 km,195,12,"1,099 m","1,609 million",19 million,0.14 EUR,0
16,Singapore,Singapore,Asia,7 Nov 1987,199.2 km,141,5,"1,465 m",794 million,4.44 million,0.97 EUR,1
17,Hong Kong,Hong Kong S.A.R.,Asia,1 Oct 1979,197.4 km,113,11,"1,935 m","1,444 million",7.21 million,0.91 EUR,1
23,Chicago,USA,America,6 Jun 1892,166.0 km,153,8,"1,145 m",222 million,8.99 million,1.58 EUR,1
25,Kuala Lumpur,Malaysia,Asia,16 Dec 1996,151.1 km,115,5,"1,374 m",109 million,1.45 million,0.37 EUR,1
27,Berlin,Germany,Europe,18 Feb 1902,147.4 km,195,10,797 m,505 million,3.41 million,2.10 EUR,0
29,Barcelona,Spain,Europe,30 Dec 1924,139.4 km,178,11,835 m,389 million,4.92 million,1.35 EUR,1
31,Taipei,Taiwan,Asia,28 Mar 1996,131.3 km,117,5,"1,172 m",652 million,2.6 million,0.60 EUR,1
34,Santiago,Chile,America,15 Sep 1975,117.7 km,118,6,"1,051 m",640 million,5.72 million,0.55 EUR,0
36,Bangkok,Thailand,Asia,5 Dec 1999,112.4 km,79,5,"1,518 m",245 million,6.7 million,0.64 EUR,1
37,Istanbul,Turkey,Europe,16 Sep 2000,105.9 km,82,6,"1,393 m",78 million,10.1 million,0.63 EUR,1
38,Stockholm,Sweden,Europe,1 Oct 1950,105.7 km,104,3,"1,047 m",309 million,1.26 million,3.73 EUR,0
41,Milan,Italy,Europe,1 Nov 1964,96.9 km,113,4,889 m,328 million,2.94 million,1.00 EUR,1
42,Munich,Germany,Europe,19 Oct 1971,94.2 km,102,6,981 m,360 million,1.28 million,2.30 EUR,0
46,Oslo,Norway,Europe,22 May 1966,85.0 km,101,5,885 m,76 million,"840,000",2.67 EUR,0
48,Vienna,Austria,Europe,25 Feb 1978,83.3 km,109,5,801 m,534 million,2.32 million,1.70 EUR,1
52,Sao Paulo,Brazil,America,14 Sep 1974,78.4 km,71,6,"1,206 m",877 million,18.8 million,0.76 EUR,1
53,Cairo,Egypt,Africa,27 Sep 1987,77.9 km,64,3,"1,277 m",837 million,11.9 million,0.14 EUR,1
57,Bucharest,Romania,Europe,16 Nov 1979,71.4 km,53,4,"1,457 m",171 million,1.94 million,0.40 EUR,0
58,Toronto,Canada,America,30 Apr 1954,70.9 km,80,4,933 m,278 million,5.21 million,1.67 EUR,1
59,Dubai,United Arab Emirates,Asia,9 Sep 2009,69.7 km,47,2,"1,549 m",109 million,1.38 million,0.56 EUR,1
60,Montreal,Canada,America,14 Oct 1966,69.2 km,73,4,"1,003 m",219 million,3.68 million,1.67 EUR,0
62,Kiev,Ukraine,Europe,22 Oct 1960,67.6 km,52,3,"1,380 m",519 million,2.71 million,0.27 EUR,0
63,Caracas,Venezuela,America,27 Mar 1983,66.5 km,54,6,"1,386 m",485 million,2.98 million,0.31 EUR,1
65,Prague,Czech Republic,Europe,9 May 1974,65.1 km,61,3,"1,122 m",530 million,1.16 million,0.65 EUR,0
67,Rome,Italy,Europe,10 Feb 1955,61.0 km,74,3,859 m,331 million,3.34 million,1.00 EUR,1
68,Athens,Greece,Europe,1954,60.3 km,65,3,973 m,342 million,3.24 million,1.00 EUR,1
69,Los Angeles,USA,America,30 Jan 1993,59.3 km,30,3,"2,196 m",46 million,12.5 million,1.91 EUR,1
73,Rio de Janeiro,Brazil,America,5 Mar 1979,55.5 km,42,3,"1,423 m",212 million,11.8 million,0.77 EUR,1
75,Buenos Aires,Argentina,America,1 Dec 1913,53.9 km,86,6,674 m,308 million,12.8 million,0.24 EUR,0
78,Manila,Philippines,Asia,1 Dec 1984,51.5 km,44,3,"1,256 m",346 million,11.1 million,0.18 EUR,1
88,Lisbon,Portugal,Europe,29 Dec 1959,44.3 km,56,4,852 m,183 million,2.81 million,0.80 EUR,0
92,Miami,USA,America,21 May 1984,39.8 km,23,1,"1,809 m",18 million,5.58 million,1.66 EUR,1
97,Sofia,Bulgaria,Europe,28 Jan 1998,37.5 km,35,2,"1,136 m",29 million,1.18 million,0.51 EUR,0
101,Helsinki,Finland,Europe,3 Aug 1982,35.1 km,25,1,"1,462 m",62 million,1.12 million,2.10 EUR,0
106,Budapest,Hungary,Europe,2 May 1896,33.0 km,42,3,846 m,302 million,1.68 million,0.95 EUR,0
107,Amsterdam,Netherlands,Europe,16 Oct 1977,32.7 km,33,4,"1,128 m",85 million,1.03 million,2.09 EUR,1
108,Brussels,Belgium,Europe,20 Sep 1976,32.2 km,61,3,555 m,133 million,1.74 million,1.53 EUR,0
109,Lyon,France,Europe,28 Apr 1978,31.8 km,44,4,795 m,257 million,1.42 million,1.60 EUR,0
125,Warsaw,Poland,Europe,7 Apr 1995,28.7 km,28,2,"1,104 m",140 million,1.71 million,0.47 EUR,0
145,Copenhagen,Denmark,Europe,19 Oct 2002,21.0 km,22,2,"1,050 m",54 million,1.08 million,2.81 EUR,1

In [135]:
metro_df.shape

(51, 12)

In [136]:
def convert_nums_million(x):
    if x[-7:] == "million":
        return float(x[:-8].replace(",", "")) * 1000000
    else:
        return int(x.replace(",",""))

def convert_nums_nonmillion(x):
    return float(x.split(" ")[0].replace(",", ""))

In [137]:
# change opening to age
metro_df["Age"] = metro_df["Opening"].apply(lambda x: 2023 - int(x[-4:]))
metro_df.drop(['Opening'], axis=1, inplace=True)

# turn network length into an int
metro_df["Network length (km)"] = metro_df["Network length (km)"].apply(convert_nums_nonmillion)

# turn average station distance into an int
metro_df["Avg. station distance (m)"] = metro_df["Avg. station distance (m)"].apply(convert_nums_nonmillion)

# convert annual ridership into an int
metro_df["Annual ridership"] = metro_df["Annual ridership"].apply(convert_nums_million)

# convert population into an int
metro_df["Population"] = metro_df["Population"].apply(convert_nums_million)

# convert fare into a float
metro_df["Fare (EUR)"] = metro_df["Fare (EUR)"].apply(convert_nums_nonmillion)

In [138]:
metro_df

,City,Country,Continent,Network length (km),Stations,Lines,Avg. station distance (m),Annual ridership,Population,Fare (EUR),Aircon trains,Age
0,Shanghai,China,Asia,632.1,394,15,1668.0,2.276000e+09,15000000.0,0.34,1,28
1,Beijing,China,Asia,572.0,344,20,1765.0,2.460000e+09,11100000.0,0.15,1,54
2,London,United Kingdom,Europe,402.0,270,11,1552.0,1.171000e+09,8570000.0,2.75,1,160
4,New York,USA,America,380.2,473,27,852.0,1.655000e+09,19000000.0,1.53,1,119
5,Moscow,Russia,Europe,346.2,206,12,1785.0,2.389000e+09,10500000.0,0.50,1,88
6,Seoul,South Korea,Asia,326.5,302,9,1114.0,2.518000e+09,9800000.0,0.54,1,49
7,Tokyo,Japan,Asia,304.5,290,13,1099.0,3.102000e+09,35700000.0,1.57,1,96
8,Madrid,Spain,Europe,293.0,289,13,1062.0,6.350000e+08,5570000.0,1.00,1,104
12,Delhi,India,Asia,239.0,183,8,1366.0,6.060000e+08,15900000.0,0.12,1,21
13,Paris,France,Europe,219.9,383,16,599.0,1.524000e+09,9900000.0,1.57,1,123
15,Mexico City,Mexico,America,201.1,195,12,1099.0,1.609000e+09,19000000.0,0.14,0,54
16,Singapore,Singapore,Asia,199.2,141,5,1465.0,7.940000e+08,4440000.0,0.97,1,36
17,Hong Kong,Hong Kong S.A.R.,Asia,197.4,113,11,1935.0,1.444000e+09,7210000.0,0.91,1,44
23,Chicago,USA,America,166.0,153,8,1145.0,2.220000e+08,8990000.0,1.58,1,131
25,Kuala Lumpur,Malaysia,Asia,151.1,115,5,1374.0,1.090000e+08,1450000.0,0.37,1,27
27,Berlin,Germany,Europe,147.4,195,10,797.0,5.050000e+08,3410000.0,2.10,0,121
29,Barcelona,Spain,Europe,139.4,178,11,835.0,3.890000e+08,4920000.0,1.35,1,99
31,Taipei,Taiwan,Asia,131.3,117,5,1172.0,6.520000e+08,2600000.0,0.60,1,27
34,Santiago,Chile,America,117.7,118,6,1051.0,6.400000e+08,5720000.0,0.55,0,48
36,Bangkok,Thailand,Asia,112.4,79,5,1518.0,2.450000e+08,6700000.0,0.64,1,24
37,Istanbul,Turkey,Europe,105.9,82,6,1393.0,7.800000e+07,10100000.0,0.63,1,23
38,Stockholm,Sweden,Europe,105.7,104,3,1047.0,3.090000e+08,1260000.0,3.73,0,73
41,Milan,Italy,Europe,96.9,113,4,889.0,3.280000e+08,2940000.0,1.00,1,59
42,Munich,Germany,Europe,94.2,102,6,981.0,3.600000e+08,1280000.0,2.30,0,52
46,Oslo,Norway,Europe,85.0,101,5,885.0,7.600000e+07,840000.0,2.67,0,57
48,Vienna,Austria,Europe,83.3,109,5,801.0,5.340000e+08,2320000.0,1.70,1,45
52,Sao Paulo,Brazil,America,78.4,71,6,1206.0,8.770000e+08,18800000.0,0.76,1,49
53,Cairo,Egypt,Africa,77.9,64,3,1277.0,8.370000e+08,11900000.0,0.14,1,36
57,Bucharest,Romania,Europe,71.4,53,4,1457.0,1.710000e+08,1940000.0,0.40,0,44
58,Toronto,Canada,America,70.9,80,4,933.0,2.780000e+08,5210000.0,1.67,1,69
59,Dubai,United Arab Emirates,Asia,69.7,47,2,1549.0,1.090000e+08,1380000.0,0.56,1,14
60,Montreal,Canada,America,69.2,73,4,1003.0,2.190000e+08,3680000.0,1.67,0,57
62,Kiev,Ukraine,Europe,67.6,52,3,1380.0,5.190000e+08,2710000.0,0.27,0,63
63,Caracas,Venezuela,America,66.5,54,6,1386.0,4.850000e+08,2980000.0,0.31,1,40
65,Prague,Czech Republic,Europe,65.1,61,3,1122.0,5.300000e+08,1160000.0,0.65,0,49
67,Rome,Italy,Europe,61.0,74,3,859.0,3.310000e+08,3340000.0,1.00,1,68
68,Athens,Greece,Europe,60.3,65,3,973.0,3.420000e+08,3240000.0,1.00,1,69
69,Los Angeles,USA,America,59.3,30,3,2196.0,4.600000e+07,12500000.0,1.91,1,30
73,Rio de Janeiro,Brazil,America,55.5,42,3,1423.0,2.120000e+08,11800000.0,0.77,1,44
75,Buenos Aires,Argentina,America,53.9,86,6,674.0,3.080000e+08,12800000.0,0.24,0,110
78,Manila,Philippines,Asia,51.5,44,3,1256.0,3.460000e+08,11100000.0,0.18,1,39
88,Lisbon,Portugal,Europe,44.3,56,4,852.0,1.830000e+08,2810000.0,0.80,0,64
92,Miami,USA,America,39.8,23,1,1809.0,1.800000e+07,5580000.0,1.66,1,39
97,Sofia,Bulgaria,Europe,37.5,35,2,1136.0,2.900000e+07,1180000.0,0.51,0,25
101,Helsinki,Finland,Europe,35.1,25,1,1462.0,6.200000e+07,1120000.0,2.10,0,41
106,Budapest,Hungary,Europe,33.0,42,3,846.0,3.020000e+08,1680000.0,0.95,0,127
107,Amsterdam,Netherlands,Europe,32.7,33,4,1128.0,8.500000e+07,1030000.0,2.09,1,46
108,Brussels,Belgium,Europe,32.2,61,3,555.0,1.330000e+08,1740000.0,1.53,0,47
109,Lyon,France,Europe,31.8,44,4,795.0,2.570000e+08,1420000.0,1.60,0,45
125,Warsaw,Poland,Europe,28.7,28,2,1104.0,1.400000e+08,1710000.0,0.47,0,28
145,Copenhagen,Denmark,Europe,21.0,22,2,1050.0,5.400000e+07,1080000.0,2.81,1,21

In [139]:
print(list(metro_df['City']))

['Shanghai', 'Beijing', 'London', 'New York', 'Moscow', 'Seoul', 'Tokyo', 'Madrid', 'Delhi', 'Paris', 'Mexico City', 'Singapore', 'Hong Kong', 'Chicago', 'Kuala Lumpur', 'Berlin', 'Barcelona', 'Taipei', 'Santiago', 'Bangkok', 'Istanbul', 'Stockholm', 'Milan', 'Munich', 'Oslo', 'Vienna', 'Sao Paulo', 'Cairo', 'Bucharest', 'Toronto', 'Dubai', 'Montreal', 'Kiev', 'Caracas', 'Prague', 'Rome', 'Athens', 'Los Angeles', 'Rio de Janeiro', 'Buenos Aires', 'Manila', 'Lisbon', 'Miami', 'Sofia', 'Helsinki', 'Budapest', 'Amsterdam', 'Brussels', 'Lyon', 'Warsaw', 'Copenhagen']

In [140]:
metro_df.to_csv('test.csv')

Get GDP data

In [141]:
df_gdp = pd.read_html("gdp.html")[0]
df_gdp.drop(['Rank', 'Country/region', 'UNSD subâ€‘region[4]', 'Official est. GDP up to date (billion US$)', 'Brookings[7] 2014 est. PPP-adjusted GDP (billion US$)',  'Metropolitan population'], axis=1, inplace=True)
df_gdp.rename(columns={'City proper/metropolitan area': 'City'}, inplace=True)

In [142]:
df_gdp

                             City  Official est. GDP per capita
0         Aachen-LiÃ¨ge-Maastricht                      28493.71
1    Abbotsford, British Columbia                      29386.48
2                        Aberdeen                      46957.94
3                         Abidjan                       4122.14
4                       Abu Dhabi                      68390.80
..                            ...                           ...
410                     Zhengzhou                      16089.39
411                     Zhongshan                      11566.16
412                        Zhuhai                      16344.09
413                          Zibo                      19006.71
414                        ZÃ¼rich                      74193.88

[415 rows x 2 columns]

In [143]:
metro_df = pd.merge(metro_df, df_gdp, on="City", how='left')

In [144]:
metro_df

,City,Country,Continent,Network length (km),Stations,Lines,Avg. station distance (m),Annual ridership,Population,Fare (EUR),Aircon trains,Age,Official est. GDP per capita
0,Shanghai,China,Asia,632.1,394,15,1668.0,2.276000e+09,15000000.0,0.34,1,28,26580.83
1,Beijing,China,Asia,572.0,344,20,1765.0,2.460000e+09,11100000.0,0.15,1,54,29600.38
2,London,United Kingdom,Europe,402.0,270,11,1552.0,1.171000e+09,8570000.0,2.75,1,160,66108.24
3,New York,USA,America,380.2,473,27,852.0,1.655000e+09,19000000.0,1.53,1,119,88512.98
4,Moscow,Russia,Europe,346.2,206,12,1785.0,2.389000e+09,10500000.0,0.50,1,88,29011.95
5,Seoul,South Korea,Asia,326.5,302,9,1114.0,2.518000e+09,9800000.0,0.54,1,49,37370.56
6,Tokyo,Japan,Asia,304.5,290,13,1099.0,3.102000e+09,35700000.0,1.57,1,96,50508.55
7,Madrid,Spain,Europe,293.0,289,13,1062.0,6.350000e+08,5570000.0,1.00,1,104,41314.26
8,Delhi,India,Asia,239.0,183,8,1366.0,6.060000e+08,15900000.0,0.12,1,21,3592.81
9,Paris,France,Europe,219.9,383,16,599.0,1.524000e+09,9900000.0,1.57,1,123,81944.56
10,Mexico City,Mexico,America,201.1,195,12,1099.0,1.609000e+09,19000000.0,0.14,0,54,10139.88
11,Singapore,Singapore,Asia,199.2,141,5,1465.0,7.940000e+08,4440000.0,0.97,1,36,79421.07
12,Hong Kong,Hong Kong S.A.R.,Asia,197.4,113,11,1935.0,1.444000e+09,7210000.0,0.91,1,44,49699.54
13,Chicago,USA,America,166.0,153,8,1145.0,2.220000e+08,8990000.0,1.58,1,131,72191.62
14,Kuala Lumpur,Malaysia,Asia,151.1,115,5,1374.0,1.090000e+08,1450000.0,0.37,1,27,6574.84
15,Berlin,Germany,Europe,147.4,195,10,797.0,5.050000e+08,3410000.0,2.10,0,121,50923.56
16,Barcelona,Spain,Europe,139.4,178,11,835.0,3.890000e+08,4920000.0,1.35,1,99,35013.13
17,Taipei,Taiwan,Asia,131.3,117,5,1172.0,6.520000e+08,2600000.0,0.60,1,27,44926.59
18,Santiago,Chile,America,117.7,118,6,1051.0,6.400000e+08,5720000.0,0.55,0,48,21429.50
19,Bangkok,Thailand,Asia,112.4,79,5,1518.0,2.450000e+08,6700000.0,0.64,1,24,12298.93
20,Istanbul,Turkey,Europe,105.9,82,6,1393.0,7.800000e+07,10100000.0,0.63,1,23,15360.99
21,Stockholm,Sweden,Europe,105.7,104,3,1047.0,3.090000e+08,1260000.0,3.73,0,73,77272.73
22,Milan,Italy,Europe,96.9,113,4,889.0,3.280000e+08,2940000.0,1.00,1,59,53581.95
23,Munich,Germany,Europe,94.2,102,6,981.0,3.600000e+08,1280000.0,2.30,0,52,109786.37
24,Oslo,Norway,Europe,85.0,101,5,885.0,7.600000e+07,840000.0,2.67,0,57,58754.10
25,Vienna,Austria,Europe,83.3,109,5,801.0,5.340000e+08,2320000.0,1.70,1,45,49777.78
26,Sao Paulo,Brazil,America,78.4,71,6,1206.0,8.770000e+08,18800000.0,0.76,1,49,NaN
27,Cairo,Egypt,Africa,77.9,64,3,1277.0,8.370000e+08,11900000.0,0.14,1,36,4602.03
28,Bucharest,Romania,Europe,71.4,53,4,1457.0,1.710000e+08,1940000.0,0.40,0,44,42079.10
29,Toronto,Canada,America,70.9,80,4,933.0,2.780000e+08,5210000.0,1.67,1,69,67681.37
30,Dubai,United Arab Emirates,Asia,69.7,47,2,1549.0,1.090000e+08,1380000.0,0.56,1,14,19560.98
31,Montreal,Canada,America,69.2,73,4,1003.0,2.190000e+08,3680000.0,1.67,0,57,40273.14
32,Kiev,Ukraine,Europe,67.6,52,3,1380.0,5.190000e+08,2710000.0,0.27,0,63,NaN
33,Caracas,Venezuela,America,66.5,54,6,1386.0,4.850000e+08,2980000.0,0.31,1,40,18421.05
34,Prague,Czech Republic,Europe,65.1,61,3,1122.0,5.300000e+08,1160000.0,0.65,0,49,43537.41
35,Rome,Italy,Europe,61.0,74,3,859.0,3.310000e+08,3340000.0,1.00,1,68,48347.83
36,Athens,Greece,Europe,60.3,65,3,973.0,3.420000e+08,3240000.0,1.00,1,69,26394.37
37,Los Angeles,USA,America,59.3,30,3,2196.0,4.600000e+07,12500000.0,1.91,1,30,88241.32
38,Rio de Janeiro,Brazil,America,55.5,42,3,1423.0,2.120000e+08,11800000.0,0.77,1,44,15741.80
39,Buenos Aires,Argentina,America,53.9,86,6,674.0,3.080000e+08,12800000.0,0.24,0,110,5071.86
40,Manila,Philippines,Asia,51.5,44,3,1256.0,3.460000e+08,11100000.0,0.18,1,39,7295.45
41,Lisbon,Portugal,Europe,44.3,56,4,852.0,1.830000e+08,2810000.0,0.80,0,64,44444.44
42,Miami,USA,America,39.8,23,1,1809.0,1.800000e+07,5580000.0,1.66,1,39,61702.38
43,Sofia,Bulgaria,Europe,37.5,35,2,1136.0,2.900000e+07,1180000.0,0.51,0,25,15448.28
44,Helsinki,Finland,Europe,35.1,25,1,1462.0,6.200000e+07,1120000.0,2.10,0,41,60132.45
45,Budapest,Hungary,Europe,33.0,42,3,846.0,3.020000e+08,1680000.0,0.95,0,127,22075.47
46,Amsterdam,Netherlands,Europe,32.7,33,4,1128.0,8.500000e+07,1030000.0,2.09,1,46,NaN
47,Brussels,Belgium,Europe,32.2,61,3,555.0,1.330000e+08,1740000.0,1.53,0,47,36000.00
48,Lyon,France,Europe,31.8,44,4,795.0,2.570000e+08,1420000.0,1.60,0,45,50800.00
49,Warsaw,Poland,Europe,28.7,28,2,1104.0,1.400000e+08,1710000.0,0.47,0,28,49959.96
50,Copenhagen,Denmark,Europe,21.0,22,2,1050.0,5.400000e+07,1080000.0,2.81,1,21,76363.64

In [148]:
def get_age(city):
    url_base = 'https://versus.com/en/'
    url = url_base + city.lower().replace(" ", "-")
    header = {
      "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
      "X-Requested-With": "XMLHttpRequest"
    }

    r = requests.get(url, headers=header)

    soup = BeautifulSoup(r.text, 'html.parser')

    # Find the first div element with class "group_demographics"
    group_demographics_div = soup.find('div', {'id': 'group_demographics'})


    # Find the fourth div element with class "Property__property___1PAON"
    property_div = group_demographics_div.find_all('div', {'class': 'Property__property___1PAON'})[3]
    # Find the p tag with class "Number__number___Mp4lk"
    age = property_div.find('p', {'class': 'Number__number___Mp4lk'})
    age= age.text
    #age = float(age.text.split(" ")[0])



    group_qol_div = soup.find('div', {'id': 'group_quality_of_living'})


    property_div = group_qol_div.find_all('div', {'class': 'Property__property___1PAON'})[0]
    # Find the p tag with class "Number__number___Mp4lk"
    unemployment = property_div.find('p', {'class': 'Number__number___Mp4lk'})
    #unemployment = float(unemployment.text[:-1])
    unemployment=unemployment.text


    property_div = group_qol_div.find_all('div', {'class': 'Property__property___1PAON'})[8]
    # Find the p tag with class "Number__number___Mp4lk"
    gini = property_div.find('p', {'class': 'Number__number___Mp4lk'})
    gini = gini.text



    group_env_div = soup.find('div', {'id': 'group_environment'})


    property_div = group_env_div.find_all('div', {'class': 'Property__property___1PAON'})[0]
    # Find the p tag with class "Number__number___Mp4lk"
    temp = property_div.find('p', {'class': 'Number__number___Mp4lk'})
    #unemployment = float(unemployment.text[:-1])
    temp=temp.text

    property_div = group_env_div.find_all('div', {'class': 'Property__property___1PAON'})[1]
    # Find the p tag with class "Number__number___Mp4lk"
    humid = property_div.find('p', {'class': 'Number__number___Mp4lk'})
    #unemployment = float(unemployment.text[:-1])
    humid=humid.text

    return age, unemployment, gini, temp, humid

In [149]:
list_age = []
list_unemployment= []
list_gini = []
list_temp = []
list_humid = []
for city in metro_df.City:
    print(city)
    age, unemployment, gini, temp, humid = get_age(city)
    list_age.append(age)
    list_unemployment.append(unemployment)
    list_gini.append(gini)
    list_temp.append(temp)
    list_humid.append(humid)

Shanghai
Beijing
London
New York
Moscow
Seoul
Tokyo
Madrid
Delhi
Paris
Mexico City
Singapore
Hong Kong
Chicago
Kuala Lumpur
Berlin
Barcelona
Taipei
Santiago
Bangkok
Istanbul
Stockholm
Milan
Munich
Oslo
Vienna
Sao Paulo
Cairo
Bucharest
Toronto
Dubai
Montreal
Kiev
Caracas
Prague
Rome
Athens
Los Angeles
Rio de Janeiro
Buenos Aires
Manila
Lisbon
Miami
Sofia
Helsinki
Budapest
Amsterdam
Brussels
Lyon
Warsaw
Copenhagen

In [150]:
metro_df['Mean Age'] =  list_age
metro_df['Unemployment'] = list_unemployment
metro_df['GINI'] = list_gini
metro_df['Mean Temp'] = list_temp
metro_df['Mean Humidity'] = list_humid

In [151]:
metro_df

,City,Country,Continent,Network length (km),Stations,Lines,Avg. station distance (m),Annual ridership,Population,Fare (EUR),Aircon trains,Age,Official est. GDP per capita,Mean Age,Unemployment,GINI,Mean Temp,Mean Humidity
0,Shanghai,China,Asia,632.1,394,15,1668.0,2.276000e+09,15000000.0,0.34,1,28,26580.83,32.26 years,4.5%,0.44,18.1Â°C,76.8%
1,Beijing,China,Asia,572.0,344,20,1765.0,2.460000e+09,11100000.0,0.15,1,54,29600.38,Unknown. Help us by suggesting a value.,1.39%,0.22,13Â°C,56.8%
2,London,United Kingdom,Europe,402.0,270,11,1552.0,1.171000e+09,8570000.0,2.75,1,160,66108.24,36.4 years,8.1%,0.35,11.1Â°C,92.3%
3,New York,USA,America,380.2,473,27,852.0,1.655000e+09,19000000.0,1.53,1,119,88512.98,35.5 years,4.3%,0.47,14.2Â°C,68%
4,Moscow,Russia,Europe,346.2,206,12,1785.0,2.389000e+09,10500000.0,0.50,1,88,29011.95,40.7 years,0.4%,0.42,6.1Â°C,76.7%
5,Seoul,South Korea,Asia,326.5,302,9,1114.0,2.518000e+09,9800000.0,0.54,1,49,37370.56,39 years,4.8%,0.32,13.6Â°C,64.4%
6,Tokyo,Japan,Asia,304.5,290,13,1099.0,3.102000e+09,35700000.0,1.57,1,96,50508.55,44.7 years,4.6%,0.25,16.5Â°C,61.9%
7,Madrid,Spain,Europe,293.0,289,13,1062.0,6.350000e+08,5570000.0,1.00,1,104,41314.26,40.9 years,21%,0.46,15.7Â°C,57%
8,Delhi,India,Asia,239.0,183,8,1366.0,6.060000e+08,15900000.0,0.12,1,21,3592.81,Unknown. Help us by suggesting a value.,4.63%,Unknown. Help us by suggesting a value.,25.4Â°C,Unknown. Help us by suggesting a value.
9,Paris,France,Europe,219.9,383,16,599.0,1.524000e+09,9900000.0,1.57,1,123,81944.56,38.6 years,7.6%,0.32,12Â°C,Unknown. Help us by suggesting a value.
10,Mexico City,Mexico,America,201.1,195,12,1099.0,1.609000e+09,19000000.0,0.14,0,54,10139.88,Unknown. Help us by suggesting a value.,3.7%,Unknown. Help us by suggesting a value.,17.7Â°C,56%
11,Singapore,Singapore,Asia,199.2,141,5,1465.0,7.940000e+08,4440000.0,0.97,1,36,79421.07,37 years,1.9%,0.47,29.3Â°C,84.2%
12,Hong Kong,Hong Kong S.A.R.,Asia,197.4,113,11,1935.0,1.444000e+09,7210000.0,0.91,1,44,49699.54,41.7 years,3.2%,0.43,24Â°C,78%
13,Chicago,USA,America,166.0,153,8,1145.0,2.220000e+08,8990000.0,1.58,1,131,72191.62,33.1 years,10.3%,Unknown. Help us by suggesting a value.,11Â°C,Unknown. Help us by suggesting a value.
14,Kuala Lumpur,Malaysia,Asia,151.1,115,5,1374.0,1.090000e+08,1450000.0,0.37,1,27,6574.84,Unknown. Help us by suggesting a value.,3.5%,Unknown. Help us by suggesting a value.,28.6Â°C,80%
15,Berlin,Germany,Europe,147.4,195,10,797.0,5.050000e+08,3410000.0,2.10,0,121,50923.56,44 years,12.2%,0.28,10.7Â°C,81.1%
16,Barcelona,Spain,Europe,139.4,178,11,835.0,3.890000e+08,4920000.0,1.35,1,99,35013.13,44.8 years,12.28%,Unknown. Help us by suggesting a value.,17.3Â°C,72%
17,Taipei,Taiwan,Asia,131.3,117,5,1172.0,6.520000e+08,2600000.0,0.60,1,27,44926.59,Unknown. Help us by suggesting a value.,4.4%,0.3,24.1Â°C,76.6%
18,Santiago,Chile,America,117.7,118,6,1051.0,6.400000e+08,5720000.0,0.55,0,48,21429.50,32.8 years,8.5%,Unknown. Help us by suggesting a value.,15.5Â°C,66.6%
19,Bangkok,Thailand,Asia,112.4,79,5,1518.0,2.450000e+08,6700000.0,0.64,1,24,12298.93,41 years,2%,0.48,29.2Â°C,Unknown. Help us by suggesting a value.
20,Istanbul,Turkey,Europe,105.9,82,6,1393.0,7.800000e+07,10100000.0,0.63,1,23,15360.99,23 years,15.5%,0.43,16.1Â°C,79%
21,Stockholm,Sweden,Europe,105.7,104,3,1047.0,3.090000e+08,1260000.0,3.73,0,73,77272.73,39.8 years,3.5%,0.24,7.3Â°C,Unknown. Help us by suggesting a value.
22,Milan,Italy,Europe,96.9,113,4,889.0,3.280000e+08,2940000.0,1.00,1,59,53581.95,43.8 years,5%,0.33,14.5Â°C,76.8%
23,Munich,Germany,Europe,94.2,102,6,981.0,3.600000e+08,1280000.0,2.30,0,52,109786.37,Unknown. Help us by suggesting a value.,5.6%,0.28,9.3Â°C,65.7%
24,Oslo,Norway,Europe,85.0,101,5,885.0,7.600000e+07,840000.0,2.67,0,57,58754.10,Unknown. Help us by suggesting a value.,3.7%,0.26,6.9Â°C,Unknown. Help us by suggesting a value.
25,Vienna,Austria,Europe,83.3,109,5,801.0,5.340000e+08,2320000.0,1.70,1,45,49777.78,42.6 years,8.2%,0.29,11.3Â°C,69%
26,Sao Paulo,Brazil,America,78.4,71,6,1206.0,8.770000e+08,18800000.0,0.76,1,49,NaN,Unknown. Help us by suggesting a value.,13.67%,Unknown. Help us by suggesting a value.,21.5Â°C,78%
27,Cairo,Egypt,Africa,77.9,64,3,1277.0,8.370000e+08,11900000.0,0.14,1,36,4602.03,Unknown. Help us by suggesting a value.,12%,Unknown. Help us by suggesting a value.,22.9Â°C,Unknown. Help us by suggesting a value.
28,Bucharest,Romania,Europe,71.4,53,4,1457.0,1.710000e+08,1940000.0,0.40,0,44,42079.10,39.1 years,6.3%,Unknown. Help us by suggesting a value.,11.6Â°C,72%
29,Toronto,Canada,America,70.9,80,4,933.0,2.780000e+08,5210000.0,1.67,1,69,67681.37,36.9 years,6.3%,0.44,9.4Â°C,Unknown. Help us by suggesting a value.
30,Dubai,United Arab Emirates,Asia,69.7,47,2,1549.0,1.090000e+08,1380000.0,0.56,1,14,19560.98,27 years,0.4%,Unknown. Help us by suggesting a value.,29.5Â°C,Unknown. Help us by suggesting a value.
31,Montreal,Canada,America,69.2,73,4,1003.0,2.190000e+08,3680000.0,1.67,0,57,40273.14,36.7 years,8.6%,0.44,7.7Â°C,79.1%
32,Kiev,Ukraine,Europe,67.6,52,3,1380.0,5.190000e+08,2710000.0,0.27,0,63,NaN,38.8 years,10.6%,0.27,9.4Â°C,74.5%
33,Caracas,Venezuela,America,66.5,54,6,1386.0,4.850000e+08,2980000.0,0.31,1,40,18421.05,26.3 years,47.9%,0.49,22.5Â°C,74.5%
34,Prague,Czech Republic,Europe,65.1,61,3,1122.0,5.300000e+08,1160000.0,0.65,0,49,43537.41,41.6 years,3%,0.25,10.1Â°C,Unknown. Help us by suggesting a value.
35,Rome,Italy,Europe,61.0,74,3,859.0,3.310000e+08,3340000.0,1.00,1,68,48347.83,43.8 years,12.9%,0.33,17Â°C,72.3%
36,Athens,Greece,Europe,60.3,65,3,973.0,3.420000e+08,3240000.0,1.00,1,69,26394.37,42.8 years,24.4%,Unknown. Help us by suggesting a value.,19.2Â°C,64%
37,Los Angeles,USA,America,59.3,30,3,2196.0,4.600000e+07,12500000.0,1.91,1,30,88241.32,34.2 years,8.7%,0.47,19.7Â°C,Unknown. Help us by suggesting a value.
38,Rio de Janeiro,Brazil,America,55.5,42,3,1423.0,2.120000e+08,11800000.0,0.77,1,44,15741.80,Unknown. Help us by suggesting a value.,11.9%,Unknown. Help us by suggesting a value.,25.2Â°C,74.1%
39,Buenos Aires,Argentina,America,53.9,86,6,674.0,3.080000e+08,12800000.0,0.24,0,110,5071.86,31.8 years,4.6%,0.4,18.2Â°C,72%
40,Manila,Philippines,Asia,51.5,44,3,1256.0,3.460000e+08,11100000.0,0.18,1,39,7295.45,22.5 years,10.4%,0.43,28.4Â°C,89%
41,Lisbon,Portugal,Europe,44.3,56,4,852.0,1.830000e+08,2810000.0,0.80,0,64,44444.44,40.4 years,17.9%,0.38,17Â°C,Unknown. Help us by suggesting a value.
42,Miami,USA,America,39.8,23,1,1809.0,1.800000e+07,5580000.0,1.66,1,39,61702.38,39.4 years,6.2%,Unknown. Help us by suggesting a value.,25.7Â°C,84%
43,Sofia,Bulgaria,Europe,37.5,35,2,1136.0,2.900000e+07,1180000.0,0.51,0,25,15448.28,41.9 years,12.2%,0.45,11.7Â°C,65%
44,Helsinki,Finland,Europe,35.1,25,1,1462.0,6.200000e+07,1120000.0,2.10,0,41,60132.45,39.5 years,6.3%,0.28,6.3Â°C,Unknown. Help us by suggesting a value.
45,Budapest,Hungary,Europe,33.0,42,3,846.0,3.020000e+08,1680000.0,0.95,0,127,22075.47,40.2 years,8.9%,0.27,11.3Â°C,Unknown. Help us by suggesting a value.
46,Amsterdam,Netherlands,Europe,32.7,33,4,1128.0,8.500000e+07,1030000.0,2.09,1,46,NaN,38.6 years,3.5%,0.31,10.7Â°C,82.5%
47,Brussels,Belgium,Europe,32.2,61,3,555.0,1.330000e+08,1740000.0,1.53,0,47,36000.00,37.8 years,18%,0.28,9.6Â°C,80%
48,Lyon,France,Europe,31.8,44,4,795.0,2.570000e+08,1420000.0,1.60,0,45,50800.00,Unknown. Help us by suggesting a value.,9.8%,Unknown. Help us by suggesting a value.,13.3Â°C,Unknown. Help us by suggesting a value.
49,Warsaw,Poland,Europe,28.7,28,2,1104.0,1.400000e+08,1710000.0,0.47,0,28,49959.96,41.7 years,4.1%,0.35,9.3Â°C,76%
50,Copenhagen,Denmark,Europe,21.0,22,2,1050.0,5.400000e+07,1080000.0,2.81,1,21,76363.64,Unknown. Help us by suggesting a value.,5.8%,0.27,9.3Â°C,82.3%

In [152]:
metro_df.to_csv("text.csv")

In [162]:
metro_df = pd.read_csv("metro_data_sorted.csv")

metro_df.drop(['Mean Age drop', 'Unnamed: 17', 'Unnamed: 0'], axis=1, inplace=True)

In [163]:
metro_df

,City,Country,Network length (km),Stations,Lines,Avg. station distance (m),Annual ridership,Population,Fare (EUR),Aircon trains,Age,Official est. GDP per capita,Mean Age,Unemployment,GINI,Mean Temp
0,Shanghai,China,632.1,394,15,1668,2276000000,15000000,0.34,1,28,26580.83,32.26,4.50%,0.44,18.1Â°C
1,Beijing,China,572.0,344,20,1765,2460000000,11100000,0.15,1,54,29600.38,32.00,1.39%,0.22,13Â°C
2,London,United Kingdom,402.0,270,11,1552,1171000000,8570000,2.75,1,160,66108.24,36.40,8.10%,0.35,11.1Â°C
3,New York,USA,380.2,473,27,852,1655000000,19000000,1.53,1,119,88512.98,35.50,4.30%,0.47,14.2Â°C
4,Moscow,Russia,346.2,206,12,1785,2389000000,10500000,0.50,1,88,29011.95,40.70,0.40%,0.42,6.1Â°C
5,Seoul,South Korea,326.5,302,9,1114,2518000000,9800000,0.54,1,49,37370.56,39.00,4.80%,0.32,13.6Â°C
6,Tokyo,Japan,304.5,290,13,1099,3102000000,35700000,1.57,1,96,50508.55,44.70,4.60%,0.25,16.5Â°C
7,Madrid,Spain,293.0,289,13,1062,635000000,5570000,1.00,1,104,41314.26,40.90,21%,0.46,15.7Â°C
8,Delhi,India,239.0,183,8,1366,606000000,15900000,0.12,1,21,3592.81,28.70,4.63%,0.64,25.4Â°C
9,Paris,France,219.9,383,16,599,1524000000,9900000,1.57,1,123,81944.56,38.60,7.60%,0.32,12Â°C
10,Mexico City,Mexico,201.1,195,12,1099,1609000000,19000000,0.14,0,54,10139.88,35.00,3.70%,0.45,17.7Â°C
11,Singapore,Singapore,199.2,141,5,1465,794000000,4440000,0.97,1,36,79421.07,37.00,1.90%,0.47,29.3Â°C
12,Hong Kong,Hong Kong S.A.R.,197.4,113,11,1935,1444000000,7210000,0.91,1,44,49699.54,41.70,3.20%,0.43,24Â°C
13,Chicago,USA,166.0,153,8,1145,222000000,8990000,1.58,1,131,72191.62,33.10,10.30%,0.48,11Â°C
14,Kuala Lumpur,Malaysia,151.1,115,5,1374,109000000,1450000,0.37,1,27,6574.84,29.90,3.50%,0.38,28.6Â°C
15,Berlin,Germany,147.4,195,10,797,505000000,3410000,2.10,0,121,50923.56,44.00,12.20%,0.28,10.7Â°C
16,Barcelona,Spain,139.4,178,11,835,389000000,4920000,1.35,1,99,35013.13,44.80,12.28%,0.65,17.3Â°C
17,Taipei,Taiwan,131.3,117,5,1172,652000000,2600000,0.60,1,27,44926.59,41.30,4.40%,0.30,24.1Â°C
18,Santiago,Chile,117.7,118,6,1051,640000000,5720000,0.55,0,48,21429.50,32.80,8.50%,0.45,15.5Â°C
19,Bangkok,Thailand,112.4,79,5,1518,245000000,6700000,0.64,1,24,12298.93,41.00,2%,0.48,29.2Â°C
20,Istanbul,Turkey,105.9,82,6,1393,78000000,10100000,0.63,1,23,15360.99,23.00,15.50%,0.43,16.1Â°C
21,Stockholm,Sweden,105.7,104,3,1047,309000000,1260000,3.73,0,73,77272.73,39.80,3.50%,0.24,7.3Â°C
22,Milan,Italy,96.9,113,4,889,328000000,2940000,1.00,1,59,53581.95,43.80,5%,0.33,14.5Â°C
23,Munich,Germany,94.2,102,6,981,360000000,1280000,2.30,0,52,109786.37,46.00,5.60%,0.28,9.3Â°C
24,Oslo,Norway,85.0,101,5,885,76000000,840000,2.67,0,57,58754.10,37.30,3.70%,0.26,6.9Â°C
25,Vienna,Austria,83.3,109,5,801,534000000,2320000,1.70,1,45,49777.78,42.60,8.20%,0.29,11.3Â°C
26,Sao Paulo,Brazil,78.4,71,6,1206,877000000,18800000,0.76,1,49,28723.00,34.00,13.67%,0.53,21.5Â°C
27,Cairo,Egypt,77.9,64,3,1277,837000000,11900000,0.14,1,36,4602.03,24.60,12%,0.40,22.9Â°C
28,Bucharest,Romania,71.4,53,4,1457,171000000,1940000,0.40,0,44,42079.10,39.10,6.30%,0.26,11.6Â°C
29,Toronto,Canada,70.9,80,4,933,278000000,5210000,1.67,1,69,67681.37,36.90,6.30%,0.44,9.4Â°C
30,Dubai,United Arab Emirates,69.7,47,2,1549,109000000,1380000,0.56,1,14,19560.98,27.00,0.40%,0.26,29.5Â°C
31,Montreal,Canada,69.2,73,4,1003,219000000,3680000,1.67,0,57,40273.14,36.70,8.60%,0.44,7.7Â°C
32,Kiev,Ukraine,67.6,52,3,1380,519000000,2710000,0.27,0,63,5039.00,38.80,10.60%,0.27,9.4Â°C
33,Caracas,Venezuela,66.5,54,6,1386,485000000,2980000,0.31,1,40,18421.05,26.30,47.90%,0.49,22.5Â°C
34,Prague,Czech Republic,65.1,61,3,1122,530000000,1160000,0.65,0,49,43537.41,41.60,3%,0.25,10.1Â°C
35,Rome,Italy,61.0,74,3,859,331000000,3340000,1.00,1,68,48347.83,43.80,12.90%,0.33,17Â°C
36,Athens,Greece,60.3,65,3,973,342000000,3240000,1.00,1,69,26394.37,42.80,24.40%,0.33,19.2Â°C
37,Los Angeles,USA,59.3,30,3,2196,46000000,12500000,1.91,1,30,88241.32,34.20,8.70%,0.47,19.7Â°C
38,Rio de Janeiro,Brazil,55.5,42,3,1423,212000000,11800000,0.77,1,44,15741.80,34.00,11.90%,0.52,25.2Â°C
39,Buenos Aires,Argentina,53.9,86,6,674,308000000,12800000,0.24,0,110,5071.86,31.80,4.60%,0.40,18.2Â°C
40,Manila,Philippines,51.5,44,3,1256,346000000,11100000,0.18,1,39,7295.45,22.50,10.40%,0.43,28.4Â°C
41,Lisbon,Portugal,44.3,56,4,852,183000000,2810000,0.80,0,64,44444.44,40.40,17.90%,0.38,17Â°C
42,Miami,USA,39.8,23,1,1809,18000000,5580000,1.66,1,39,61702.38,39.40,6.20%,0.50,25.7Â°C
43,Sofia,Bulgaria,37.5,35,2,1136,29000000,1180000,0.51,0,25,15448.28,41.90,12.20%,0.45,11.7Â°C
44,Helsinki,Finland,35.1,25,1,1462,62000000,1120000,2.10,0,41,60132.45,39.50,6.30%,0.28,6.3Â°C
45,Budapest,Hungary,33.0,42,3,846,302000000,1680000,0.95,0,127,22075.47,40.20,8.90%,0.27,11.3Â°C
46,Amsterdam,Netherlands,32.7,33,4,1128,85000000,1030000,2.09,1,46,56298.00,38.60,3.50%,0.31,10.7Â°C
47,Brussels,Belgium,32.2,61,3,555,133000000,1740000,1.53,0,47,36000.00,37.80,18%,0.28,9.6Â°C
48,Lyon,France,31.8,44,4,795,257000000,1420000,1.60,0,45,50800.00,42.00,9.80%,0.32,13.3Â°C
49,Warsaw,Poland,28.7,28,2,1104,140000000,1710000,0.47,0,28,49959.96,41.70,4.10%,0.35,9.3Â°C
50,Copenhagen,Denmark,21.0,22,2,1050,54000000,1080000,2.81,1,21,76363.64,35.80,5.80%,0.27,9.3Â°C

In [164]:
metro_df['Unemployment'] = metro_df['Unemployment'].apply(lambda x: float(x[:-1]))
metro_df['GINI'] = metro_df['GINI'].apply(lambda x: float(x))
metro_df['Mean Age'] = metro_df['Mean Age'].apply(lambda x: int(x))
metro_df['Mean Temp'] = metro_df['Mean Temp'].apply(lambda x: float(x[:-2]))

In [165]:
metro_df

,City,Country,Network length (km),Stations,Lines,Avg. station distance (m),Annual ridership,Population,Fare (EUR),Aircon trains,Age,Official est. GDP per capita,Mean Age,Unemployment,GINI,Mean Temp
0,Shanghai,China,632.1,394,15,1668,2276000000,15000000,0.34,1,28,26580.83,32,4.50,0.44,18.1
1,Beijing,China,572.0,344,20,1765,2460000000,11100000,0.15,1,54,29600.38,32,1.39,0.22,13.0
2,London,United Kingdom,402.0,270,11,1552,1171000000,8570000,2.75,1,160,66108.24,36,8.10,0.35,11.1
3,New York,USA,380.2,473,27,852,1655000000,19000000,1.53,1,119,88512.98,35,4.30,0.47,14.2
4,Moscow,Russia,346.2,206,12,1785,2389000000,10500000,0.50,1,88,29011.95,40,0.40,0.42,6.1
5,Seoul,South Korea,326.5,302,9,1114,2518000000,9800000,0.54,1,49,37370.56,39,4.80,0.32,13.6
6,Tokyo,Japan,304.5,290,13,1099,3102000000,35700000,1.57,1,96,50508.55,44,4.60,0.25,16.5
7,Madrid,Spain,293.0,289,13,1062,635000000,5570000,1.00,1,104,41314.26,40,21.00,0.46,15.7
8,Delhi,India,239.0,183,8,1366,606000000,15900000,0.12,1,21,3592.81,28,4.63,0.64,25.4
9,Paris,France,219.9,383,16,599,1524000000,9900000,1.57,1,123,81944.56,38,7.60,0.32,12.0
10,Mexico City,Mexico,201.1,195,12,1099,1609000000,19000000,0.14,0,54,10139.88,35,3.70,0.45,17.7
11,Singapore,Singapore,199.2,141,5,1465,794000000,4440000,0.97,1,36,79421.07,37,1.90,0.47,29.3
12,Hong Kong,Hong Kong S.A.R.,197.4,113,11,1935,1444000000,7210000,0.91,1,44,49699.54,41,3.20,0.43,24.0
13,Chicago,USA,166.0,153,8,1145,222000000,8990000,1.58,1,131,72191.62,33,10.30,0.48,11.0
14,Kuala Lumpur,Malaysia,151.1,115,5,1374,109000000,1450000,0.37,1,27,6574.84,29,3.50,0.38,28.6
15,Berlin,Germany,147.4,195,10,797,505000000,3410000,2.10,0,121,50923.56,44,12.20,0.28,10.7
16,Barcelona,Spain,139.4,178,11,835,389000000,4920000,1.35,1,99,35013.13,44,12.28,0.65,17.3
17,Taipei,Taiwan,131.3,117,5,1172,652000000,2600000,0.60,1,27,44926.59,41,4.40,0.30,24.1
18,Santiago,Chile,117.7,118,6,1051,640000000,5720000,0.55,0,48,21429.50,32,8.50,0.45,15.5
19,Bangkok,Thailand,112.4,79,5,1518,245000000,6700000,0.64,1,24,12298.93,41,2.00,0.48,29.2
20,Istanbul,Turkey,105.9,82,6,1393,78000000,10100000,0.63,1,23,15360.99,23,15.50,0.43,16.1
21,Stockholm,Sweden,105.7,104,3,1047,309000000,1260000,3.73,0,73,77272.73,39,3.50,0.24,7.3
22,Milan,Italy,96.9,113,4,889,328000000,2940000,1.00,1,59,53581.95,43,5.00,0.33,14.5
23,Munich,Germany,94.2,102,6,981,360000000,1280000,2.30,0,52,109786.37,46,5.60,0.28,9.3
24,Oslo,Norway,85.0,101,5,885,76000000,840000,2.67,0,57,58754.10,37,3.70,0.26,6.9
25,Vienna,Austria,83.3,109,5,801,534000000,2320000,1.70,1,45,49777.78,42,8.20,0.29,11.3
26,Sao Paulo,Brazil,78.4,71,6,1206,877000000,18800000,0.76,1,49,28723.00,34,13.67,0.53,21.5
27,Cairo,Egypt,77.9,64,3,1277,837000000,11900000,0.14,1,36,4602.03,24,12.00,0.40,22.9
28,Bucharest,Romania,71.4,53,4,1457,171000000,1940000,0.40,0,44,42079.10,39,6.30,0.26,11.6
29,Toronto,Canada,70.9,80,4,933,278000000,5210000,1.67,1,69,67681.37,36,6.30,0.44,9.4
30,Dubai,United Arab Emirates,69.7,47,2,1549,109000000,1380000,0.56,1,14,19560.98,27,0.40,0.26,29.5
31,Montreal,Canada,69.2,73,4,1003,219000000,3680000,1.67,0,57,40273.14,36,8.60,0.44,7.7
32,Kiev,Ukraine,67.6,52,3,1380,519000000,2710000,0.27,0,63,5039.00,38,10.60,0.27,9.4
33,Caracas,Venezuela,66.5,54,6,1386,485000000,2980000,0.31,1,40,18421.05,26,47.90,0.49,22.5
34,Prague,Czech Republic,65.1,61,3,1122,530000000,1160000,0.65,0,49,43537.41,41,3.00,0.25,10.1
35,Rome,Italy,61.0,74,3,859,331000000,3340000,1.00,1,68,48347.83,43,12.90,0.33,17.0
36,Athens,Greece,60.3,65,3,973,342000000,3240000,1.00,1,69,26394.37,42,24.40,0.33,19.2
37,Los Angeles,USA,59.3,30,3,2196,46000000,12500000,1.91,1,30,88241.32,34,8.70,0.47,19.7
38,Rio de Janeiro,Brazil,55.5,42,3,1423,212000000,11800000,0.77,1,44,15741.80,34,11.90,0.52,25.2
39,Buenos Aires,Argentina,53.9,86,6,674,308000000,12800000,0.24,0,110,5071.86,31,4.60,0.40,18.2
40,Manila,Philippines,51.5,44,3,1256,346000000,11100000,0.18,1,39,7295.45,22,10.40,0.43,28.4
41,Lisbon,Portugal,44.3,56,4,852,183000000,2810000,0.80,0,64,44444.44,40,17.90,0.38,17.0
42,Miami,USA,39.8,23,1,1809,18000000,5580000,1.66,1,39,61702.38,39,6.20,0.50,25.7
43,Sofia,Bulgaria,37.5,35,2,1136,29000000,1180000,0.51,0,25,15448.28,41,12.20,0.45,11.7
44,Helsinki,Finland,35.1,25,1,1462,62000000,1120000,2.10,0,41,60132.45,39,6.30,0.28,6.3
45,Budapest,Hungary,33.0,42,3,846,302000000,1680000,0.95,0,127,22075.47,40,8.90,0.27,11.3
46,Amsterdam,Netherlands,32.7,33,4,1128,85000000,1030000,2.09,1,46,56298.00,38,3.50,0.31,10.7
47,Brussels,Belgium,32.2,61,3,555,133000000,1740000,1.53,0,47,36000.00,37,18.00,0.28,9.6
48,Lyon,France,31.8,44,4,795,257000000,1420000,1.60,0,45,50800.00,42,9.80,0.32,13.3
49,Warsaw,Poland,28.7,28,2,1104,140000000,1710000,0.47,0,28,49959.96,41,4.10,0.35,9.3
50,Copenhagen,Denmark,21.0,22,2,1050,54000000,1080000,2.81,1,21,76363.64,35,5.80,0.27,9.3

In [166]:
from bs4 import BeautifulSoup

list_density = []
for city in metro_df.City:
    print(city)
    url_base = 'https://versus.com/en/'
    url = url_base + city.lower().replace(" ", "-")
    header = {
      "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
      "X-Requested-With": "XMLHttpRequest"
    }

    r = requests.get(url, headers=header)

    soup = BeautifulSoup(r.text, 'html.parser')

    # Find the first div element with class "group_demographics"
    group_demographics_div = soup.find('div', {'id': 'group_demographics'})


    # Find the fourth div element with class "Property__property___1PAON"
    property_div = group_demographics_div.find_all('div', {'class': 'Property__property___1PAON'})[1]
    # Find the p tag with class "Number__number___Mp4lk"
    density = property_div.find('p', {'class': 'Number__number___Mp4lk'})
    density= density.text
    list_density.append(density)

Shanghai
Beijing
London
New York
Moscow
Seoul
Tokyo
Madrid
Delhi
Paris
Mexico City
Singapore
Hong Kong
Chicago
Kuala Lumpur
Berlin
Barcelona
Taipei
Santiago
Bangkok
Istanbul
Stockholm
Milan
Munich
Oslo
Vienna
Sao Paulo
Cairo
Bucharest
Toronto
Dubai
Montreal
Kiev
Caracas
Prague
Rome
Athens
Los Angeles
Rio de Janeiro
Buenos Aires
Manila
Lisbon
Miami
Sofia
Helsinki
Budapest
Amsterdam
Brussels
Lyon
Warsaw
Copenhagen

In [167]:
metro_df['Population Density'] = list_density

In [168]:
metro_df

,City,Country,Network length (km),Stations,Lines,Avg. station distance (m),Annual ridership,Population,Fare (EUR),Aircon trains,Age,Official est. GDP per capita,Mean Age,Unemployment,GINI,Mean Temp,Population Density
0,Shanghai,China,632.1,394,15,1668,2276000000,15000000,0.34,1,28,26580.83,32,4.50,0.44,18.1,3600 people/kmÂ²
1,Beijing,China,572.0,344,20,1765,2460000000,11100000,0.15,1,54,29600.38,32,1.39,0.22,13.0,1300 people/kmÂ²
2,London,United Kingdom,402.0,270,11,1552,1171000000,8570000,2.75,1,160,66108.24,36,8.10,0.35,11.1,5518 people/kmÂ²
3,New York,USA,380.2,473,27,852,1655000000,19000000,1.53,1,119,88512.98,35,4.30,0.47,14.2,10194 people/kmÂ²
4,Moscow,Russia,346.2,206,12,1785,2389000000,10500000,0.50,1,88,29011.95,40,0.40,0.42,6.1,5000 people/kmÂ²
5,Seoul,South Korea,326.5,302,9,1114,2518000000,9800000,0.54,1,49,37370.56,39,4.80,0.32,13.6,16000 people/kmÂ²
6,Tokyo,Japan,304.5,290,13,1099,3102000000,35700000,1.57,1,96,50508.55,44,4.60,0.25,16.5,6000 people/kmÂ²
7,Madrid,Spain,293.0,289,13,1062,635000000,5570000,1.00,1,104,41314.26,40,21.00,0.46,15.7,5390 people/kmÂ²
8,Delhi,India,239.0,183,8,1366,606000000,15900000,0.12,1,21,3592.81,28,4.63,0.64,25.4,9340 people/kmÂ²
9,Paris,France,219.9,383,16,599,1524000000,9900000,1.57,1,123,81944.56,38,7.60,0.32,12.0,20700 people/kmÂ²
10,Mexico City,Mexico,201.1,195,12,1099,1609000000,19000000,0.14,0,54,10139.88,35,3.70,0.45,17.7,6000 people/kmÂ²
11,Singapore,Singapore,199.2,141,5,1465,794000000,4440000,0.97,1,36,79421.07,37,1.90,0.47,29.3,7804 people/kmÂ²
12,Hong Kong,Hong Kong S.A.R.,197.4,113,11,1935,1444000000,7210000,0.91,1,44,49699.54,41,3.20,0.43,24.0,6480 people/kmÂ²
13,Chicago,USA,166.0,153,8,1145,222000000,8990000,1.58,1,131,72191.62,33,10.30,0.48,11.0,4447 people/kmÂ²
14,Kuala Lumpur,Malaysia,151.1,115,5,1374,109000000,1450000,0.37,1,27,6574.84,29,3.50,0.38,28.6,2592 people/kmÂ²
15,Berlin,Germany,147.4,195,10,797,505000000,3410000,2.10,0,121,50923.56,44,12.20,0.28,10.7,3900 people/kmÂ²
16,Barcelona,Spain,139.4,178,11,835,389000000,4920000,1.35,1,99,35013.13,44,12.28,0.65,17.3,15900 people/kmÂ²
17,Taipei,Taiwan,131.3,117,5,1172,652000000,2600000,0.60,1,27,44926.59,41,4.40,0.30,24.1,9600 people/kmÂ²
18,Santiago,Chile,117.7,118,6,1051,640000000,5720000,0.55,0,48,21429.50,32,8.50,0.45,15.5,8460 people/kmÂ²
19,Bangkok,Thailand,112.4,79,5,1518,245000000,6700000,0.64,1,24,12298.93,41,2.00,0.48,29.2,5300 people/kmÂ²
20,Istanbul,Turkey,105.9,82,6,1393,78000000,10100000,0.63,1,23,15360.99,23,15.50,0.43,16.1,2662 people/kmÂ²
21,Stockholm,Sweden,105.7,104,3,1047,309000000,1260000,3.73,0,73,77272.73,39,3.50,0.24,7.3,4600 people/kmÂ²
22,Milan,Italy,96.9,113,4,889,328000000,2940000,1.00,1,59,53581.95,43,5.00,0.33,14.5,7400 people/kmÂ²
23,Munich,Germany,94.2,102,6,981,360000000,1280000,2.30,0,52,109786.37,46,5.60,0.28,9.3,4400 people/kmÂ²
24,Oslo,Norway,85.0,101,5,885,76000000,840000,2.67,0,57,58754.10,37,3.70,0.26,6.9,3200 people/kmÂ²
25,Vienna,Austria,83.3,109,5,801,534000000,2320000,1.70,1,45,49777.78,42,8.20,0.29,11.3,4000 people/kmÂ²
26,Sao Paulo,Brazil,78.4,71,6,1206,877000000,18800000,0.76,1,49,28723.00,34,13.67,0.53,21.5,7216 people/kmÂ²
27,Cairo,Egypt,77.9,64,3,1277,837000000,11900000,0.14,1,36,4602.03,24,12.00,0.40,22.9,17190 people/kmÂ²
28,Bucharest,Romania,71.4,53,4,1457,171000000,1940000,0.40,0,44,42079.10,39,6.30,0.26,11.6,8026 people/kmÂ²
29,Toronto,Canada,70.9,80,4,933,278000000,5210000,1.67,1,69,67681.37,36,6.30,0.44,9.4,4334 people/kmÂ²
30,Dubai,United Arab Emirates,69.7,47,2,1549,109000000,1380000,0.56,1,14,19560.98,27,0.40,0.26,29.5,400 people/kmÂ²
31,Montreal,Canada,69.2,73,4,1003,219000000,3680000,1.67,0,57,40273.14,36,8.60,0.44,7.7,4517 people/kmÂ²
32,Kiev,Ukraine,67.6,52,3,1380,519000000,2710000,0.27,0,63,5039.00,38,10.60,0.27,9.4,3000 people/kmÂ²
33,Caracas,Venezuela,66.5,54,6,1386,485000000,2980000,0.31,1,40,18421.05,26,47.90,0.49,22.5,1430 people/kmÂ²
34,Prague,Czech Republic,65.1,61,3,1122,530000000,1160000,0.65,0,49,43537.41,41,3.00,0.25,10.1,2500 people/kmÂ²
35,Rome,Italy,61.0,74,3,859,331000000,3340000,1.00,1,68,48347.83,43,12.90,0.33,17.0,2232 people/kmÂ²
36,Athens,Greece,60.3,65,3,973,342000000,3240000,1.00,1,69,26394.37,42,24.40,0.33,19.2,7462 people/kmÂ²
37,Los Angeles,USA,59.3,30,3,2196,46000000,12500000,1.91,1,30,88241.32,34,8.70,0.47,19.7,3198 people/kmÂ²
38,Rio de Janeiro,Brazil,55.5,42,3,1423,212000000,11800000,0.77,1,44,15741.80,34,11.90,0.52,25.2,4787 people/kmÂ²
39,Buenos Aires,Argentina,53.9,86,6,674,308000000,12800000,0.24,0,110,5071.86,31,4.60,0.40,18.2,15150 people/kmÂ²
40,Manila,Philippines,51.5,44,3,1256,346000000,11100000,0.18,1,39,7295.45,22,10.40,0.43,28.4,15400 people/kmÂ²
41,Lisbon,Portugal,44.3,56,4,852,183000000,2810000,0.80,0,64,44444.44,40,17.90,0.38,17.0,6450 people/kmÂ²
42,Miami,USA,39.8,23,1,1809,18000000,5580000,1.66,1,39,61702.38,39,6.20,0.50,25.7,Unknown. Help us by suggesting a value.
43,Sofia,Bulgaria,37.5,35,2,1136,29000000,1180000,0.51,0,25,15448.28,41,12.20,0.45,11.7,2400 people/kmÂ²
44,Helsinki,Finland,35.1,25,1,1462,62000000,1120000,2.10,0,41,60132.45,39,6.30,0.28,6.3,1000 people/kmÂ²
45,Budapest,Hungary,33.0,42,3,846,302000000,1680000,0.95,0,127,22075.47,40,8.90,0.27,11.3,3336 people/kmÂ²
46,Amsterdam,Netherlands,32.7,33,4,1128,85000000,1030000,2.09,1,46,56298.00,38,3.50,0.31,10.7,3506 people/kmÂ²
47,Brussels,Belgium,32.2,61,3,555,133000000,1740000,1.53,0,47,36000.00,37,18.00,0.28,9.6,7025 people/kmÂ²
48,Lyon,France,31.8,44,4,795,257000000,1420000,1.60,0,45,50800.00,42,9.80,0.32,13.3,10000 people/kmÂ²
49,Warsaw,Poland,28.7,28,2,1104,140000000,1710000,0.47,0,28,49959.96,41,4.10,0.35,9.3,3326 people/kmÂ²
50,Copenhagen,Denmark,21.0,22,2,1050,54000000,1080000,2.81,1,21,76363.64,35,5.80,0.27,9.3,628 people/kmÂ²

In [170]:
metro_df['Population Density'] = metro_df['Population Density'].apply(lambda x: x[:-10])

In [171]:
metro_df

,City,Country,Network length (km),Stations,Lines,Avg. station distance (m),Annual ridership,Population,Fare (EUR),Aircon trains,Age,Official est. GDP per capita,Mean Age,Unemployment,GINI,Mean Temp,Population Density
0,Shanghai,China,632.1,394,15,1668,2276000000,15000000,0.34,1,28,26580.83,32,4.50,0.44,18.1,3600
1,Beijing,China,572.0,344,20,1765,2460000000,11100000,0.15,1,54,29600.38,32,1.39,0.22,13.0,1300
2,London,United Kingdom,402.0,270,11,1552,1171000000,8570000,2.75,1,160,66108.24,36,8.10,0.35,11.1,5518
3,New York,USA,380.2,473,27,852,1655000000,19000000,1.53,1,119,88512.98,35,4.30,0.47,14.2,10194
4,Moscow,Russia,346.2,206,12,1785,2389000000,10500000,0.50,1,88,29011.95,40,0.40,0.42,6.1,5000
5,Seoul,South Korea,326.5,302,9,1114,2518000000,9800000,0.54,1,49,37370.56,39,4.80,0.32,13.6,16000
6,Tokyo,Japan,304.5,290,13,1099,3102000000,35700000,1.57,1,96,50508.55,44,4.60,0.25,16.5,6000
7,Madrid,Spain,293.0,289,13,1062,635000000,5570000,1.00,1,104,41314.26,40,21.00,0.46,15.7,5390
8,Delhi,India,239.0,183,8,1366,606000000,15900000,0.12,1,21,3592.81,28,4.63,0.64,25.4,9340
9,Paris,France,219.9,383,16,599,1524000000,9900000,1.57,1,123,81944.56,38,7.60,0.32,12.0,20700
10,Mexico City,Mexico,201.1,195,12,1099,1609000000,19000000,0.14,0,54,10139.88,35,3.70,0.45,17.7,6000
11,Singapore,Singapore,199.2,141,5,1465,794000000,4440000,0.97,1,36,79421.07,37,1.90,0.47,29.3,7804
12,Hong Kong,Hong Kong S.A.R.,197.4,113,11,1935,1444000000,7210000,0.91,1,44,49699.54,41,3.20,0.43,24.0,6480
13,Chicago,USA,166.0,153,8,1145,222000000,8990000,1.58,1,131,72191.62,33,10.30,0.48,11.0,4447
14,Kuala Lumpur,Malaysia,151.1,115,5,1374,109000000,1450000,0.37,1,27,6574.84,29,3.50,0.38,28.6,2592
15,Berlin,Germany,147.4,195,10,797,505000000,3410000,2.10,0,121,50923.56,44,12.20,0.28,10.7,3900
16,Barcelona,Spain,139.4,178,11,835,389000000,4920000,1.35,1,99,35013.13,44,12.28,0.65,17.3,15900
17,Taipei,Taiwan,131.3,117,5,1172,652000000,2600000,0.60,1,27,44926.59,41,4.40,0.30,24.1,9600
18,Santiago,Chile,117.7,118,6,1051,640000000,5720000,0.55,0,48,21429.50,32,8.50,0.45,15.5,8460
19,Bangkok,Thailand,112.4,79,5,1518,245000000,6700000,0.64,1,24,12298.93,41,2.00,0.48,29.2,5300
20,Istanbul,Turkey,105.9,82,6,1393,78000000,10100000,0.63,1,23,15360.99,23,15.50,0.43,16.1,2662
21,Stockholm,Sweden,105.7,104,3,1047,309000000,1260000,3.73,0,73,77272.73,39,3.50,0.24,7.3,4600
22,Milan,Italy,96.9,113,4,889,328000000,2940000,1.00,1,59,53581.95,43,5.00,0.33,14.5,7400
23,Munich,Germany,94.2,102,6,981,360000000,1280000,2.30,0,52,109786.37,46,5.60,0.28,9.3,4400
24,Oslo,Norway,85.0,101,5,885,76000000,840000,2.67,0,57,58754.10,37,3.70,0.26,6.9,3200
25,Vienna,Austria,83.3,109,5,801,534000000,2320000,1.70,1,45,49777.78,42,8.20,0.29,11.3,4000
26,Sao Paulo,Brazil,78.4,71,6,1206,877000000,18800000,0.76,1,49,28723.00,34,13.67,0.53,21.5,7216
27,Cairo,Egypt,77.9,64,3,1277,837000000,11900000,0.14,1,36,4602.03,24,12.00,0.40,22.9,17190
28,Bucharest,Romania,71.4,53,4,1457,171000000,1940000,0.40,0,44,42079.10,39,6.30,0.26,11.6,8026
29,Toronto,Canada,70.9,80,4,933,278000000,5210000,1.67,1,69,67681.37,36,6.30,0.44,9.4,4334
30,Dubai,United Arab Emirates,69.7,47,2,1549,109000000,1380000,0.56,1,14,19560.98,27,0.40,0.26,29.5,400
31,Montreal,Canada,69.2,73,4,1003,219000000,3680000,1.67,0,57,40273.14,36,8.60,0.44,7.7,4517
32,Kiev,Ukraine,67.6,52,3,1380,519000000,2710000,0.27,0,63,5039.00,38,10.60,0.27,9.4,3000
33,Caracas,Venezuela,66.5,54,6,1386,485000000,2980000,0.31,1,40,18421.05,26,47.90,0.49,22.5,1430
34,Prague,Czech Republic,65.1,61,3,1122,530000000,1160000,0.65,0,49,43537.41,41,3.00,0.25,10.1,2500
35,Rome,Italy,61.0,74,3,859,331000000,3340000,1.00,1,68,48347.83,43,12.90,0.33,17.0,2232
36,Athens,Greece,60.3,65,3,973,342000000,3240000,1.00,1,69,26394.37,42,24.40,0.33,19.2,7462
37,Los Angeles,USA,59.3,30,3,2196,46000000,12500000,1.91,1,30,88241.32,34,8.70,0.47,19.7,3198
38,Rio de Janeiro,Brazil,55.5,42,3,1423,212000000,11800000,0.77,1,44,15741.80,34,11.90,0.52,25.2,4787
39,Buenos Aires,Argentina,53.9,86,6,674,308000000,12800000,0.24,0,110,5071.86,31,4.60,0.40,18.2,15150
40,Manila,Philippines,51.5,44,3,1256,346000000,11100000,0.18,1,39,7295.45,22,10.40,0.43,28.4,15400
41,Lisbon,Portugal,44.3,56,4,852,183000000,2810000,0.80,0,64,44444.44,40,17.90,0.38,17.0,6450
42,Miami,USA,39.8,23,1,1809,18000000,5580000,1.66,1,39,61702.38,39,6.20,0.50,25.7,Unknown. Help us by suggestin
43,Sofia,Bulgaria,37.5,35,2,1136,29000000,1180000,0.51,0,25,15448.28,41,12.20,0.45,11.7,2400
44,Helsinki,Finland,35.1,25,1,1462,62000000,1120000,2.10,0,41,60132.45,39,6.30,0.28,6.3,1000
45,Budapest,Hungary,33.0,42,3,846,302000000,1680000,0.95,0,127,22075.47,40,8.90,0.27,11.3,3336
46,Amsterdam,Netherlands,32.7,33,4,1128,85000000,1030000,2.09,1,46,56298.00,38,3.50,0.31,10.7,3506
47,Brussels,Belgium,32.2,61,3,555,133000000,1740000,1.53,0,47,36000.00,37,18.00,0.28,9.6,7025
48,Lyon,France,31.8,44,4,795,257000000,1420000,1.60,0,45,50800.00,42,9.80,0.32,13.3,10000
49,Warsaw,Poland,28.7,28,2,1104,140000000,1710000,0.47,0,28,49959.96,41,4.10,0.35,9.3,3326
50,Copenhagen,Denmark,21.0,22,2,1050,54000000,1080000,2.81,1,21,76363.64,35,5.80,0.27,9.3,628

In [172]:
metro_df.to_csv('near_final.csv')

In [174]:
metro_df = pd.read_csv("near_final.csv")

In [176]:
metro_df

,Unnamed: 0,City,Country,Network length (km),Stations,Lines,Avg. station distance (m),Annual ridership,Population,Fare (EUR),Aircon trains,Age,Official est. GDP per capita,Mean Age,Unemployment,GINI,Mean Temp,Population Density
0,0,Shanghai,China,632.1,394,15,1668,2276000000,15000000,0.34,1,28,26580.83,32,4.50,0.44,18.1,3600
1,1,Beijing,China,572.0,344,20,1765,2460000000,11100000,0.15,1,54,29600.38,32,1.39,0.22,13.0,1300
2,2,London,United Kingdom,402.0,270,11,1552,1171000000,8570000,2.75,1,160,66108.24,36,8.10,0.35,11.1,5518
3,3,New York,USA,380.2,473,27,852,1655000000,19000000,1.53,1,119,88512.98,35,4.30,0.47,14.2,10194
4,4,Moscow,Russia,346.2,206,12,1785,2389000000,10500000,0.50,1,88,29011.95,40,0.40,0.42,6.1,5000
5,5,Seoul,South Korea,326.5,302,9,1114,2518000000,9800000,0.54,1,49,37370.56,39,4.80,0.32,13.6,16000
6,6,Tokyo,Japan,304.5,290,13,1099,3102000000,35700000,1.57,1,96,50508.55,44,4.60,0.25,16.5,6000
7,7,Madrid,Spain,293.0,289,13,1062,635000000,5570000,1.00,1,104,41314.26,40,21.00,0.46,15.7,5390
8,8,Delhi,India,239.0,183,8,1366,606000000,15900000,0.12,1,21,3592.81,28,4.63,0.64,25.4,9340
9,9,Paris,France,219.9,383,16,599,1524000000,9900000,1.57,1,123,81944.56,38,7.60,0.32,12.0,20700
10,10,Mexico City,Mexico,201.1,195,12,1099,1609000000,19000000,0.14,0,54,10139.88,35,3.70,0.45,17.7,6000
11,11,Singapore,Singapore,199.2,141,5,1465,794000000,4440000,0.97,1,36,79421.07,37,1.90,0.47,29.3,7804
12,12,Hong Kong,Hong Kong S.A.R.,197.4,113,11,1935,1444000000,7210000,0.91,1,44,49699.54,41,3.20,0.43,24.0,6480
13,13,Chicago,USA,166.0,153,8,1145,222000000,8990000,1.58,1,131,72191.62,33,10.30,0.48,11.0,4447
14,14,Kuala Lumpur,Malaysia,151.1,115,5,1374,109000000,1450000,0.37,1,27,6574.84,29,3.50,0.38,28.6,2592
15,15,Berlin,Germany,147.4,195,10,797,505000000,3410000,2.10,0,121,50923.56,44,12.20,0.28,10.7,3900
16,16,Barcelona,Spain,139.4,178,11,835,389000000,4920000,1.35,1,99,35013.13,44,12.28,0.65,17.3,15900
17,17,Taipei,Taiwan,131.3,117,5,1172,652000000,2600000,0.60,1,27,44926.59,41,4.40,0.30,24.1,9600
18,18,Santiago,Chile,117.7,118,6,1051,640000000,5720000,0.55,0,48,21429.50,32,8.50,0.45,15.5,8460
19,19,Bangkok,Thailand,112.4,79,5,1518,245000000,6700000,0.64,1,24,12298.93,41,2.00,0.48,29.2,5300
20,20,Istanbul,Turkey,105.9,82,6,1393,78000000,10100000,0.63,1,23,15360.99,23,15.50,0.43,16.1,2662
21,21,Stockholm,Sweden,105.7,104,3,1047,309000000,1260000,3.73,0,73,77272.73,39,3.50,0.24,7.3,4600
22,22,Milan,Italy,96.9,113,4,889,328000000,2940000,1.00,1,59,53581.95,43,5.00,0.33,14.5,7400
23,23,Munich,Germany,94.2,102,6,981,360000000,1280000,2.30,0,52,109786.37,46,5.60,0.28,9.3,4400
24,24,Oslo,Norway,85.0,101,5,885,76000000,840000,2.67,0,57,58754.10,37,3.70,0.26,6.9,3200
25,25,Vienna,Austria,83.3,109,5,801,534000000,2320000,1.70,1,45,49777.78,42,8.20,0.29,11.3,4000
26,26,Sao Paulo,Brazil,78.4,71,6,1206,877000000,18800000,0.76,1,49,28723.00,34,13.67,0.53,21.5,7216
27,27,Cairo,Egypt,77.9,64,3,1277,837000000,11900000,0.14,1,36,4602.03,24,12.00,0.40,22.9,17190
28,28,Bucharest,Romania,71.4,53,4,1457,171000000,1940000,0.40,0,44,42079.10,39,6.30,0.26,11.6,8026
29,29,Toronto,Canada,70.9,80,4,933,278000000,5210000,1.67,1,69,67681.37,36,6.30,0.44,9.4,4334
30,30,Dubai,United Arab Emirates,69.7,47,2,1549,109000000,1380000,0.56,1,14,19560.98,27,0.40,0.26,29.5,400
31,31,Montreal,Canada,69.2,73,4,1003,219000000,3680000,1.67,0,57,40273.14,36,8.60,0.44,7.7,4517
32,32,Kiev,Ukraine,67.6,52,3,1380,519000000,2710000,0.27,0,63,5039.00,38,10.60,0.27,9.4,3000
33,33,Caracas,Venezuela,66.5,54,6,1386,485000000,2980000,0.31,1,40,18421.05,26,47.90,0.49,22.5,1430
34,34,Prague,Czech Republic,65.1,61,3,1122,530000000,1160000,0.65,0,49,43537.41,41,3.00,0.25,10.1,2500
35,35,Rome,Italy,61.0,74,3,859,331000000,3340000,1.00,1,68,48347.83,43,12.90,0.33,17.0,2232
36,36,Athens,Greece,60.3,65,3,973,342000000,3240000,1.00,1,69,26394.37,42,24.40,0.33,19.2,7462
37,37,Los Angeles,USA,59.3,30,3,2196,46000000,12500000,1.91,1,30,88241.32,34,8.70,0.47,19.7,3198
38,38,Rio de Janeiro,Brazil,55.5,42,3,1423,212000000,11800000,0.77,1,44,15741.80,34,11.90,0.52,25.2,4787
39,39,Buenos Aires,Argentina,53.9,86,6,674,308000000,12800000,0.24,0,110,5071.86,31,4.60,0.40,18.2,15150
40,40,Manila,Philippines,51.5,44,3,1256,346000000,11100000,0.18,1,39,7295.45,22,10.40,0.43,28.4,15400
41,41,Lisbon,Portugal,44.3,56,4,852,183000000,2810000,0.80,0,64,44444.44,40,17.90,0.38,17.0,6450
42,42,Miami,USA,39.8,23,1,1809,18000000,5580000,1.66,1,39,61702.38,39,6.20,0.50,25.7,4743
43,43,Sofia,Bulgaria,37.5,35,2,1136,29000000,1180000,0.51,0,25,15448.28,41,12.20,0.45,11.7,2400
44,44,Helsinki,Finland,35.1,25,1,1462,62000000,1120000,2.10,0,41,60132.45,39,6.30,0.28,6.3,1000
45,45,Budapest,Hungary,33.0,42,3,846,302000000,1680000,0.95,0,127,22075.47,40,8.90,0.27,11.3,3336
46,46,Amsterdam,Netherlands,32.7,33,4,1128,85000000,1030000,2.09,1,46,56298.00,38,3.50,0.31,10.7,3506
47,47,Brussels,Belgium,32.2,61,3,555,133000000,1740000,1.53,0,47,36000.00,37,18.00,0.28,9.6,7025
48,48,Lyon,France,31.8,44,4,795,257000000,1420000,1.60,0,45,50800.00,42,9.80,0.32,13.3,10000
49,49,Warsaw,Poland,28.7,28,2,1104,140000000,1710000,0.47,0,28,49959.96,41,4.10,0.35,9.3,3326
50,50,Copenhagen,Denmark,21.0,22,2,1050,54000000,1080000,2.81,1,21,76363.64,35,5.80,0.27,9.3,628

In [177]:
metro_df['Annual ridership'] = metro_df['Annual ridership'].apply(lambda x: x/1000000)
metro_df['Population'] = metro_df['Population'].apply(lambda x: x/1000000)

In [178]:
metro_df

,Unnamed: 0,City,Country,Network length (km),Stations,Lines,Avg. station distance (m),Annual ridership,Population,Fare (EUR),Aircon trains,Age,Official est. GDP per capita,Mean Age,Unemployment,GINI,Mean Temp,Population Density
0,0,Shanghai,China,632.1,394,15,1668,2276.0,15.00,0.34,1,28,26580.83,32,4.50,0.44,18.1,3600
1,1,Beijing,China,572.0,344,20,1765,2460.0,11.10,0.15,1,54,29600.38,32,1.39,0.22,13.0,1300
2,2,London,United Kingdom,402.0,270,11,1552,1171.0,8.57,2.75,1,160,66108.24,36,8.10,0.35,11.1,5518
3,3,New York,USA,380.2,473,27,852,1655.0,19.00,1.53,1,119,88512.98,35,4.30,0.47,14.2,10194
4,4,Moscow,Russia,346.2,206,12,1785,2389.0,10.50,0.50,1,88,29011.95,40,0.40,0.42,6.1,5000
5,5,Seoul,South Korea,326.5,302,9,1114,2518.0,9.80,0.54,1,49,37370.56,39,4.80,0.32,13.6,16000
6,6,Tokyo,Japan,304.5,290,13,1099,3102.0,35.70,1.57,1,96,50508.55,44,4.60,0.25,16.5,6000
7,7,Madrid,Spain,293.0,289,13,1062,635.0,5.57,1.00,1,104,41314.26,40,21.00,0.46,15.7,5390
8,8,Delhi,India,239.0,183,8,1366,606.0,15.90,0.12,1,21,3592.81,28,4.63,0.64,25.4,9340
9,9,Paris,France,219.9,383,16,599,1524.0,9.90,1.57,1,123,81944.56,38,7.60,0.32,12.0,20700
10,10,Mexico City,Mexico,201.1,195,12,1099,1609.0,19.00,0.14,0,54,10139.88,35,3.70,0.45,17.7,6000
11,11,Singapore,Singapore,199.2,141,5,1465,794.0,4.44,0.97,1,36,79421.07,37,1.90,0.47,29.3,7804
12,12,Hong Kong,Hong Kong S.A.R.,197.4,113,11,1935,1444.0,7.21,0.91,1,44,49699.54,41,3.20,0.43,24.0,6480
13,13,Chicago,USA,166.0,153,8,1145,222.0,8.99,1.58,1,131,72191.62,33,10.30,0.48,11.0,4447
14,14,Kuala Lumpur,Malaysia,151.1,115,5,1374,109.0,1.45,0.37,1,27,6574.84,29,3.50,0.38,28.6,2592
15,15,Berlin,Germany,147.4,195,10,797,505.0,3.41,2.10,0,121,50923.56,44,12.20,0.28,10.7,3900
16,16,Barcelona,Spain,139.4,178,11,835,389.0,4.92,1.35,1,99,35013.13,44,12.28,0.65,17.3,15900
17,17,Taipei,Taiwan,131.3,117,5,1172,652.0,2.60,0.60,1,27,44926.59,41,4.40,0.30,24.1,9600
18,18,Santiago,Chile,117.7,118,6,1051,640.0,5.72,0.55,0,48,21429.50,32,8.50,0.45,15.5,8460
19,19,Bangkok,Thailand,112.4,79,5,1518,245.0,6.70,0.64,1,24,12298.93,41,2.00,0.48,29.2,5300
20,20,Istanbul,Turkey,105.9,82,6,1393,78.0,10.10,0.63,1,23,15360.99,23,15.50,0.43,16.1,2662
21,21,Stockholm,Sweden,105.7,104,3,1047,309.0,1.26,3.73,0,73,77272.73,39,3.50,0.24,7.3,4600
22,22,Milan,Italy,96.9,113,4,889,328.0,2.94,1.00,1,59,53581.95,43,5.00,0.33,14.5,7400
23,23,Munich,Germany,94.2,102,6,981,360.0,1.28,2.30,0,52,109786.37,46,5.60,0.28,9.3,4400
24,24,Oslo,Norway,85.0,101,5,885,76.0,0.84,2.67,0,57,58754.10,37,3.70,0.26,6.9,3200
25,25,Vienna,Austria,83.3,109,5,801,534.0,2.32,1.70,1,45,49777.78,42,8.20,0.29,11.3,4000
26,26,Sao Paulo,Brazil,78.4,71,6,1206,877.0,18.80,0.76,1,49,28723.00,34,13.67,0.53,21.5,7216
27,27,Cairo,Egypt,77.9,64,3,1277,837.0,11.90,0.14,1,36,4602.03,24,12.00,0.40,22.9,17190
28,28,Bucharest,Romania,71.4,53,4,1457,171.0,1.94,0.40,0,44,42079.10,39,6.30,0.26,11.6,8026
29,29,Toronto,Canada,70.9,80,4,933,278.0,5.21,1.67,1,69,67681.37,36,6.30,0.44,9.4,4334
30,30,Dubai,United Arab Emirates,69.7,47,2,1549,109.0,1.38,0.56,1,14,19560.98,27,0.40,0.26,29.5,400
31,31,Montreal,Canada,69.2,73,4,1003,219.0,3.68,1.67,0,57,40273.14,36,8.60,0.44,7.7,4517
32,32,Kiev,Ukraine,67.6,52,3,1380,519.0,2.71,0.27,0,63,5039.00,38,10.60,0.27,9.4,3000
33,33,Caracas,Venezuela,66.5,54,6,1386,485.0,2.98,0.31,1,40,18421.05,26,47.90,0.49,22.5,1430
34,34,Prague,Czech Republic,65.1,61,3,1122,530.0,1.16,0.65,0,49,43537.41,41,3.00,0.25,10.1,2500
35,35,Rome,Italy,61.0,74,3,859,331.0,3.34,1.00,1,68,48347.83,43,12.90,0.33,17.0,2232
36,36,Athens,Greece,60.3,65,3,973,342.0,3.24,1.00,1,69,26394.37,42,24.40,0.33,19.2,7462
37,37,Los Angeles,USA,59.3,30,3,2196,46.0,12.50,1.91,1,30,88241.32,34,8.70,0.47,19.7,3198
38,38,Rio de Janeiro,Brazil,55.5,42,3,1423,212.0,11.80,0.77,1,44,15741.80,34,11.90,0.52,25.2,4787
39,39,Buenos Aires,Argentina,53.9,86,6,674,308.0,12.80,0.24,0,110,5071.86,31,4.60,0.40,18.2,15150
40,40,Manila,Philippines,51.5,44,3,1256,346.0,11.10,0.18,1,39,7295.45,22,10.40,0.43,28.4,15400
41,41,Lisbon,Portugal,44.3,56,4,852,183.0,2.81,0.80,0,64,44444.44,40,17.90,0.38,17.0,6450
42,42,Miami,USA,39.8,23,1,1809,18.0,5.58,1.66,1,39,61702.38,39,6.20,0.50,25.7,4743
43,43,Sofia,Bulgaria,37.5,35,2,1136,29.0,1.18,0.51,0,25,15448.28,41,12.20,0.45,11.7,2400
44,44,Helsinki,Finland,35.1,25,1,1462,62.0,1.12,2.10,0,41,60132.45,39,6.30,0.28,6.3,1000
45,45,Budapest,Hungary,33.0,42,3,846,302.0,1.68,0.95,0,127,22075.47,40,8.90,0.27,11.3,3336
46,46,Amsterdam,Netherlands,32.7,33,4,1128,85.0,1.03,2.09,1,46,56298.00,38,3.50,0.31,10.7,3506
47,47,Brussels,Belgium,32.2,61,3,555,133.0,1.74,1.53,0,47,36000.00,37,18.00,0.28,9.6,7025
48,48,Lyon,France,31.8,44,4,795,257.0,1.42,1.60,0,45,50800.00,42,9.80,0.32,13.3,10000
49,49,Warsaw,Poland,28.7,28,2,1104,140.0,1.71,0.47,0,28,49959.96,41,4.10,0.35,9.3,3326
50,50,Copenhagen,Denmark,21.0,22,2,1050,54.0,1.08,2.81,1,21,76363.64,35,5.80,0.27,9.3,628

In [179]:
metro_df.to_csv("final_data.csv")